// COLORS
$color-primary: #0892d0;
$color-primary-light: #15b0f6;
$color-primary-dark: #03354c;

$color-secondary-light: #04425f;
$color-secondary-dark: #022839;

$color-tertiary-light: #4a798e;
$color-tertiary-dark: #5b727d;

$color-grey-light-1: #f7f7f7;
$color-grey-light-2: #eee;

$color-grey-dark: #777;
$color-grey-dark-2: #999;
$color-grey-dark-3: #333;

$color-white: #fff;
$color-black: #000;

// FONT
$default-font-size: 1.6rem;
$default-font-family: Lato, sans-serif;

// GRID
$grid-width: 114rem;
$gutter-vertical: 8rem;
$gutter-horizontal: 6rem;

//MISC.

$default-border-radius: 3px;
