@keyframes moveInLeft {
  0% {
    opacity: 0;
    transform: translateX(-10rem);
  }

  80% {
    transform: translateX(1rem);
  }

  100% {
    opacity: 1;
    transform: translate(0);
  }
}

@keyframes moveInRight {
  0% {
    opacity: 0;
    transform: translateX(10rem);
  }

  80% {
    transform: translateX(-1rem);
  }

  100% {
    opacity: 1;
    transform: translate(0);
  }
}

@keyframes moveInBottom {
  0% {
    opacity: 0;
    transform: translateY(5rem);
  }

  100% {
    opacity: 1;
    transform: translate(0);
  }
}

@keyframes twirlAround {
  0% {
  }

  20% {
    transform: rotate(60deg);
  }

  40% {
    transform: rotate(120deg);
  }

  60% {
    transform: rotate(180deg);
  }

  80% {
    transform: rotate(270deg);
  }

  100% {
    transform: rotate(360deg);
  }
}
