body {
  font-family: Lato, sans-serif;
  font-weight: 400;
  line-height: 1.7;
  color: $color-grey-dark;
}

.heading-primary {
  color: $color-white;
  text-transform: uppercase;
  backface-visibility: hidden;
  margin-bottom: 6rem;
  font-family: $default-font-family;

  &--main {
    display: block;
    font-weight: 400;
    letter-spacing: 3.5rem;
    font-size: 6rem;
    animation-name: moveInLeft;
    animation-duration: 1s;
    animation-timing-function: ease-out;

    @include responsive(phone) {
      letter-spacing: 1rem;
      font-size: 5rem;
    }

    /* animation-delay: 3s;
        animation-iteration-count:3;
         animation-timing-function: ease-out; */
  }

  &--sub {
    display: block;
    font-size: 2rem;
    font-weight: 700;
    letter-spacing: 1.75rem;
    animation: moveInRight 1s ease-out;
    @include responsive(phone) {
      letter-spacing: 0.5rem;
    }
  }
}

.heading-secondary {
  font-size: 3.5rem;
  text-transform: uppercase;
  font-weight: 700;
  font-family: $default-font-family;

  @include responsive(phone) {
    font-size: 3rem;
  }

  background-image: linear-gradient(
    to right,
    $color-primary-light,
    $color-primary-dark
  );
  color: transparent;
  -webkit-background-clip: text;
  background-clip: text;
  &:hover {
    background-image: linear-gradient(
      to right,
      lighten($color-primary-light, 5%),
      lighten($color-primary-dark, 5%)
    );
  }
}
.heading-tertiary {
  font-size: $default-font-size;
  font-weight: bold;
  text-transform: uppercase;
  font-family: $default-font-family;
}
.paragraph-info {
  font-size: 1.6rem;
  font-weight: 500;
  font-family: $default-font-family;
  &:not(:last-child) {
    margin-bottom: 3rem;
  }
}
